.dashboard {
      padding-top: 70px;
      .row{
        align-items: center;
      }
}
@media (max-width: 575.98px) { 
  .dashboard{
    padding-top: 0px;
    .daily-tasks{
      border-top:1px solid #efefef;
    }
    .row{
      &:first-of-type{
        background-color: #efefef;
      }
    }
  }
 }
 @media (max-width: 991.98px) {
  .dashboard{
    .daily-tasks{
      border-top:1px solid #efefef;
    }
  }
}
@media (min-width: 992px) {
  .dashboard{
    height: 100vh;
    .row{
      &:first-of-type{
       .daily{
          background: #4e54c8;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, #4e54c8 , #8f94fb);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #4e54c8,#8f94fb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: white;
       }
      }
    }
  }
}
