@import "../../assets/styles/variables";
.todo-overview {
  border-top: 2px solid lightgray;
  ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    li{
      flex-grow: 1;
      position: relative;
      .task-cat{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .task-cat-name{
          text-transform: capitalize;
        }
        .task-cat-num{
          font-size: 3rem;
        }
      }
      &.completed{
        color:$success;
      }
      &.postponed{
        color:$warning;
      }
      &.undone{
        color: $alert;
      }
      &.todo{
        color: $primary;
      }
      &.all{
        color:$normal;
      }
    }
    li:not(:last-child)::after{
      position: absolute;
      top:30px;
      content: "";
      height: 5px;
      width: 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }
  }
  
  #addTodoIcon{
    font-size: 1.5rem;
    color:$success;
    cursor: pointer;
  }
}

@media (min-width: 992px) { 
  .todo-overview{
    margin: 20px;
    width: 100%;
    >.row{
      width: 100%;
      padding: 20px;
    }
    #addTodoIcon{
      font-size: 2.5rem;
      color:$success;
      cursor: pointer;
    }
  }
}

@media (max-width: 991.98px) {
  .todo-overview {
    border-top-width: 0;
    ul{
      li{
        .task-cat{
          font-size: .8rem;
        }
      }
      li:not(:last-child)::after{
        display: none;
      }
    }
  }

}


