@media (min-width: 992px) { 
  .weather-icon{
    img{
      width: 15vw;
      height: auto;
    }
  }
  .temperature {
    font-size: 2rem;
  }
  .short-description{
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  .weather-forecast{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .weather-icon{
      img{
        width: 55px;
        height: 55px;
      }
    }
    .short-description{
      display: none;
    }
  }
}