@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  color: gray;
  height: 50px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 576px) { 
  .App-header {
    height: 70px;
    position: fixed;
    top: 0;
  }
}